body {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/* Header */
.topbar {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid black;
  align-items: center;
  z-index: 1;
  height: 100px;
  background-color: white;
}
.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 20px;
}
.logo span{
  color: aquamarine;
}
.topbar nav{
  padding-right: 30px;
}
.contentcontain{
  display: flex;
  padding-top: 200px;
}

/* main */

.column-main{
  width: 630px;
  display: flex;
  flex-direction:column;
  margin-right: 30px;
}

.headline {

}

.headlineimage{
  background-image: url("./resources/images/img-story-main.png");
}

.report-text{
}

.subheadlines{
}

.story{

}

.subheadimage-l{

}

.subheadimage-r{

}

.column-medium {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.column-small {
  width: 240px;
  display: flex;
  flex-direction: column;
  margin: 50px;
}
